@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;400;600&display=swap");

@import "reset.css";

/* Components */
@import "components/navbar.css";
@import "components/main-header.css";
@import "components/sub-header.css";

/* Screens */
@import "screens/bgimg1-section.css";
@import "screens/section-gallery.css";


/* body,
html {
  
  margin: 0;
  font-size: 16px;
  font-family: "Josefin Sans", sans-serif;
  line-height: 28px;
  color: #666;
}