.main-header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
}

.main-header__parallax {
  background: url("../../img/0.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 930px;
  z-index: 1;
}

.main-header__opacity {
  position: absolute;
  width: 100%;
  height: 930px;
  top: 0%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.main-header__headline {
  position: absolute;
  top: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  z-index: 3;
}
.main-header__headline h1 {
  font-size: 45px;
  font-weight: 600;
  font-style: italic;
  margin-bottom: 10px;
}

.main-header__headline span {
  font-size: 20px;
  margin-bottom: 5px;
}
.main-header__headline h1,
.main-header__headline span {
  text-shadow: 1px 1px 15px black;
}
